@fontfam-ultra:Helvetica, Arial, sans-serif;
@fontfam-thin:Helvetica, Arial, sans-serif;
@fontfam-new:Helvetica, Arial, sans-serif;
@fontfam-norm:Helvetica, Arial, sans-serif;
body{
  margin:0;
  font-family:@fontfam-norm;
}